name: Rust

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install toolchain
      uses: actions-rs/toolchain@v1

    - name: Build
      run: |
        export CARGO_NET_GIT_FETCH_WITH_CLI=true
        cargo build --verbose

    - name: Run tests
      run: |
        export CARGO_NET_GIT_FETCH_WITH_CLI=true
        cargo test --verbose
